{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}Teams{% endblock %}

{% block breadcrumbs %}
{{ bootstrap_breadcrumbs(
  bootstrap_breadcrumb(bootstrap_icon('people') ~ ' Teams', 'team_index'),
) }}
{% endblock %}

{% set can_create_team = is_granted(attributes.team.create, new_team) %}

{% set create_team_href = path('team_create') %}

{% block actions %}
{% if can_create_team %}
<a href="{{ create_team_href }}" class="btn btn-sm btn-primary">
  {{ bootstrap_icon('plus') }} Add Team</a>
{% endif %}
{% endblock %}

{% block main %}
<div class="card">
  <div class="card-body">
    <div class="card-title card-title-with-count">
      <h1 class="card-title-heading">Teams</h1>
      <div class="card-title-count">
        {{ bootstrap_badge_primary(pagination.count) }}
      </div>
    </div>

    {% if pagination.count %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>Shortcode</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for team in pagination.results %}
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.members|length }}</td>
          <td>{{ shortcode('team(' ~ team.id ~ ')') }}</td>
          <td>{{ team.updatedAt|datetime }}</td>
          <td>
            {% if is_granted(attributes.team.view, team) %}
            <a class="btn btn-sm btn-primary btn-action" href="{{ path('team_view', {id: team.id}) }}" title="View">
              {{ bootstrap_icon('people') }}
              <span class="visually-hidden">View</span>
            </a>
            {% endif %}
            {% if is_granted(attributes.team.edit, team) %}
            <a class="btn btn-sm btn-primary btn-action" href="{{ path('team_edit', {id: team.id}) }}" title="Edit">
              {{ bootstrap_icon('pen-fill') }}
              <span class="visually-hidden">Edit</span>
            </a>
            {% endif %}
            {% if is_granted(attributes.team.delete, team) %}
            <a class="btn btn-sm btn-danger btn-action" href="{{ path('team_delete', {id: team.id}) }}" title="Delete" data-confirm="Are you sure you want to delete this team? Clicking OK will take you to a verification step to delete this entry.">
              {{ bootstrap_icon('trash-fill') }}
              <span class="visually-hidden">Delete</span>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ bootstrap_pagination(pagination) }}

    <small>{{ bootstrap_pagination_info(pagination) }}</small>
    {% else %}
      <p>
        No teams found.
        {% if can_create_team %}
        <a href="{{ create_team_href }}">Click here to add a team.</a>
        {% endif %}
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}
